@use "../" as *;

header {
  @include flex($justify: space-between);
  padding: 2 * $smallpadding $paddingSide;
  background-color: $primaryBG;
  position: fixed;
  top: 0;
  width: 100%;
  height: $headerHeight;
  nav {
    width: 100%;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: $primaryBG;
    @include media {
      position: static;
      justify-content: flex-end !important;
    }
    .button {
      color: #fff;
      margin: 2 * $smallpadding 0;
      @include media {
        margin-left: 2 * $smallpadding;
      }
    }
  }
  #icon {
    svg {
      width: 24px;
    }
  }
}
